@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-black: #333;
  --color-light-blue: #82B3D3;
  --color-green: #7DB54F;
  --color-brown: #756157;
  --color-background-invisible: rgba(255, 255, 255, 0);
  --color-background-light-blue-12: rgba(131, 179, 211, 0.12);
  --color-background-light-blue-20: rgba(131, 179, 211, 0.2);
  --color-background-white: #F2F2F2;
  --color-background-logo: rgb(45, 112, 194);
}

html {
  height: 100%;
}
body {
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--color-black);
  background-color: var(--color-background-white);
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-brown);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-additional {
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-light-blue);
}

.button-invisible {
  background-color: var(--color-background-invisible);
}

.button-light {
  background-color: var(--color-white);
}

.button-selected {
  background-color: var(--color-green);
}

.subscribe-form .button-additional {
  font-size: 20px;
  line-height: 36px;
}

.visually-hidden{
  display: none;
}


.page-header {
  background-color: var(--color-white);
  min-height: 64px;
}

.navigation {
  display: flex;
  margin: 0 70px;
}

.navigation-logo {
  margin-right: 28px;
}

.navigation-list {
  width: 339px;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-item .button {
  color: var(--color-white);
}

.hero-block {
  background-color: var(--color-white);
}

.logo-wrap {
  height: 485px;
  background-color: var(--color-background-logo);
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*.logo-wrap::after{
  content: url(../images/Vector-hero.svg);
}*/

.welcome-logo {
  display: block;
  margin: 0 auto;
}


.description {
  text-align: center;
  background-color: var(--color-white);
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-text {
  font-size: 22px;
  line-height: 26px;
  color: var(--color-light-black);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 400px;
  min-height: 384px;
  text-align: center;
}

.advantages-item-light-blue {
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.advantages-item-light-blue-12 {
  color: var(--color-light-black);
  background-color: var(--color-background-light-blue-12);
}

.advantages-item-light-blue-20 {
  color: var(--color-light-black);
  background-color: var(--color-background-light-blue-20);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-black);
}

.advantages-title-white {
  color: var(--color-white);
}

.advantages-item-house {
  width: 800px;
  height: 384px;
  background-image: url(../images/photo-house.jpg);
}

.advantages-item-evil-bridge {
  width: 800px;
  height: 384px;
  background-image: url(../images/photo-devil-bridge.jpg);
}

.recommendations-list {
  text-align: center;
  display: flex;
}

.recommendations-item {
  width: 400px;
  min-height: 384px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-light-black);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
}

.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-black);
  text-transform: uppercase;
}

.recommendations-list li:last-child,
.recommendations-list li:first-child {
  background-color: var(--color-background-light-blue-12);
}

.search-hotel {
  padding: 96px 0;
  text-align: center;
  color: var(--color-light-black);
  background-color: var(--color-white);
}

.search-hotel-tittle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-black);
}

.subscribe {
  width: 1200px;
  height: 414px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  margin: 0;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
}

#subscribe-email {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--color-background-white);
}

.page-footer {
  background-color: var(--color-white);
  padding: 40px 70px 30px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  text-align: center;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
}

.filters {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--color-white);
  background-image: url(../images/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.breadcrumbs-wrap {
  width: 1060px;
  margin: 30px auto 40px;
}


.filters-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.cotalog-filter-container {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-filter-left-wrap {
  width: 370px;
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
}

.catalog-filter-left-wrap .cotalog-filter-group {
  width: 150px;
  padding: 0;
}

.catalog-filter-right-wrap {
  width: 549px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.catalog-filter-right-wrap .cotalog-filter-group {
  width: 288px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  display: flex;
}

.filtet-button-wrap {
  display: flex;
  flex-direction: column;
}

.cotalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.cotalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.price {
  font-size: 18px;
  line-height: 23px;
  color: var(--color-black);
  background-color: var(--color-background-white);
  font-weight: inherit;
  width: 143px;
}

.search-results {
  background-color: var(--color-white);
}

.search-result-wrap {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.search-result {
  width: 338px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-right: 200px;
  text-transform: uppercase;

}

.search-result-title {
  font-size: 30px;
  display: inline;
}

.select-control {
  font-family: 'PT Sans' sans-serif;
  font-size: 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: var(--color-light-black);
  margin-right: 70px;
}

.hotel-card-list {
  width: 1060px;
  margin: 0 auto;

}
.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-card-item span {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-light-black);
}

.hotel-card-item .rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-background-white);
}

.pagination{
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
 }

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  color: var(--color-black);
  background-color: var(--color-background-white);
}

.pagination-all {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-black);
}

.subscribe-catalog {
  background-image: none;
  background-color: var(--color-white);
}

.subscribe-title-catalog {
  color: var(--color-black);
}

.subscribe-catalog-text {
  color: var(--color-light-black);
}
